[2018-01-17 09:38] HitRam opened #4 "Links to examples in README.md are broken."
The links are broken i.e they give 500 internal error in the examples of README.md

[2018-01-23 13:41] #4 closed

[2018-03-04 21:58] gauravgrover95 opened #5 "No "ccNetViz.min.js" available in /dist directory as illustrated in 'basic example' section of /README.md"
In the documentation file /README.md. Maybe there is a simple spelling error or in the latest build, we have missed the minified compilation of the source code.

Please refer the code below:

**README.md**
[code]

[2018-03-04 22:14] gauravgrover95 opened #6 "Not able to display nodes and arrows by running "basic example" from /README.md file"
OS: MacOS High Sierra 10.13.1
Browser: Firefox Quantum  58.0.2 (64-bit)

Following I have attached the screenshot of the result I obtained by running the "basic example" mentioned in the /README.md documentation file of the project.

Please note that no nodes and arrows are visible. As a result, there is no distinction between the source and the target nodes.

In addition to it, I tried zooming to

[2018-03-04 23:01] gauravgrover95 opened #7 "Zooming is defocussed"
Unlike the graphs produced using [cytoscape.js](http://js.cytoscape.org/) when we try to zoom on a particular element by hovering the mouse over it and using mousewheel to zoom on it. The element pans away and we have to find it by manually panning to it.

This will create problems when we will try to find tiny elements in large graphs. Also, since our library is unique in supporting large graphs

[2018-03-05 17:14] gauravgrover95 commented on #6
I am trying to fix it but, As you can see in above screenshots, the library is not throwing errors. I am not getting any indication about what could be the exact problem?

I hypothesized that since both arrows and nodes are missing. There must be some problem in rendering the PNG files from the image folder. But When I am running examples from inside the /examples folder inside the library. They a

[2018-03-05 18:16] gauravgrover95 commented on #6
I figured out what the problem was. Following were the steps I performed.

Step 1: I made a new folder named "xyz-project". // the folder name really did not matter.
Step 2: I made a new file named index.html where I placed all the code in the "Basic Example".
Step 3: I cloned the ccNetViz repository.
Step 4: I modified the path name of the ccNetViz library in script tag. As, there was error for "

[2018-03-05 18:16] #6 closed

[2018-03-05 18:31] gauravgrover95 opened #8 "Did not get 404 error here for the non-existent gibbrish file paths supplied in styles.nodes.texture and styles.edges.arrow"
For the following code, I am not getting any error for the gibberish 'file paths' supplied into the styling options of the ccNetViz object.

[code]

You can observe in the following screenshot that we are not receiving any error in console for any gibberish file path supplied to those arguments. Simply no nodes and arrows are drawn in the graph.

![ccnetviz screenshot](https://user-images.githubus

[2018-03-06 03:52] saskaale commented on #5
Seems like old code from previous version. Can you please fix?

[2018-03-06 18:36] saskaale opened #9 "Computing layouts in the background"
to be done enabling dispatching the layout computation WebWorker thread

[2018-03-07 22:58] gauravgrover95 opened #10 "Shift SDF implementation to a new and better Tiny SDF implementation"
I have found this [Github Library](https://github.com/mapbox/tiny-sdf). This seems to be a better and improved version of SDF algorithm we are using.

We have to check the compatability and try incorporating this algorithm in our implementation.

[2018-03-08 15:17] saskaale commented on #10
This library looks like it is rendering the SDF in the pure JS rendering into HTML canvas. Is there any possibility to implement this directly inside WebGL ?

[2018-03-08 17:38] gauravgrover95 commented on #10
Hi @saskaale,

I am looking into it. But following quote was written in the second line of its documentation due to which I think, we will be able to implement it inside ccNetViz.

Quote:

If I face any issue, I will reply here.

Thanks.

[2018-03-09 11:07] gauravgrover95 commented on #10
Hi @saskaale,

I understood your concern and I reviewed the code of tiny-sdf. Please check that the author has made a demo file in which he has used both _canvas-2d_ as well as _experimental-webGl_ context to show the implementation of the library. So, I don't think we will have to go through the hassle of porting the algorithm into webgl.

You can view the demo by clicking [here](https://mapbox.g

[2018-03-10 23:18] saskaale commented on #10
Hello @gauravgrover95 . This example looks nice ! As long as the texture would be rendered just once at start ( O(1) complexity ) and after that would be used to render text character-by-character ( it is currently implemnted in ccNetViz ) it should be fine!

[2018-03-16 16:44] #5 closed

[2018-03-23 16:12] gauravgrover95 commented on #9
Are you sure in using web-workers. There is not full support in browsers of web-workers.

Kindly check [this](https://caniuse.com/#feat=webworkers), if not have checked already. There is no support for webworkers in Opera and in other browsers. support for webworkers was added just a few years back.

[2018-03-23 17:38] saskaale commented on #9
Hello Gaurav,
the library is designed to work with the latest browsers. The Opera which you showed is the Opera Mini ( I now googled it and in regular Opera there is basic support - which is sufficient - for WebWorkers ).

Anyways if you want to keep this functionality, you can definitely check if there is present, otherwise run fallback with computing in the same thread ( run the same code as is

[2018-03-26 12:44] gauravgrover95 commented on #9
Thanks for the clarification. We need to implement the develop this feature keeping fallback in mind.

[2018-04-25 06:03] saskaale opened #12 "Fix the live demo examples"
fix all the erroneous example pages

[2018-04-25 06:13] saskaale opened #13 "Download image demo example"
write demo example for support download image

there is already implemented function supporting export of base64 image text which you can reuse - https://github.com/HelikarLab/ccNetViz/blob/master/src/ccNetViz.js#L618-L622 . This function needs to be also documented in Readme.md.

[2018-04-25 06:23] saskaale opened #14 "Context menu support"
Write example for support context menu.

Basic iIde how to make is style div element to look like browser context menu.
Once user would right-click on the graph there would be call for the find() method. for nearby area (let's say 10px)  If the area contains the node, look if the node has property for context menu, if yes then show the context menu with specified context.

At the beginning I'd sta

[2018-05-14 22:15] saskaale opened #15 "Performance testing"
1) Performance benchmark
     -- rendering time, layout computation time for various networks of increasing sizes
     -- see https://github.com/HelikarLab/ccNetViz/tree/master/src/layout for all implemented layouts
     -- see https://github.com/HelikarLab/ccNetViz/tree/master/examples/data for graphs ~( you can even add / create new ones )
2) Feature comparison table that would illustrate how cc

[2018-06-15 18:57] mpearson12 opened #17 "Nodes show up as black marks on home page while using Firefox"
The nodes should not be black marks
![](https://git.unl.edu/helikarlab/cellcollective/uploads/9b5528a1f378de2d277b8adcfca065cd/Screenshot_2018-06-15_13.08.25.png)

[2018-06-15 18:59] achillesrasquinha commented on #17
@gauravgrover95 Hi, are you able to replicate this?

[2018-07-05 18:04] gauravgrover95 commented on #17
No, I was not able to reproduce it by going to the https://cellcollective.org and then pushing the 'try without registration' button. But yes, I have observed the similar behavior while developing the library in Firefox Quantum browser 61.0 (64-bit).

Can you share your version of the Firefox and the error from the console of Firefox dev-tools?

[2018-07-05 19:51] mpearson12 commented on #17
I actually cant get it to replicate anymore so maybe my firefox just needed updating?

[2018-07-31 11:20] gauravgrover95 opened #19 "Update .gitignore to ignore /dist folder"
Possible Solution: [Stackoverflow link](https://stackoverflow.com/questions/1139762/ignore-files-that-have-already-been-committed-to-a-git-repository)
Will require discussion on the consequences

[2018-07-31 11:27] gauravgrover95 opened #20 "Rendering fails of text and nodes without disabling cache in latest Firefox"
![screen shot 2018-07-31 at 4 53 59 pm](https://user-images.githubusercontent.com/13467940/43456791-703f76a0-94e2-11e8-91e4-966bd045b53f.png)

Firefox version: 61.0.1 (64-bit)

Error Message: "Error: WebGL warning: drawElements: Active texture 0 for target 0x0de1 is 'incomplete', and will be rendered as RGBA(0,0,0,1), as per the GLES 2.0.24 $3.8.2: The dimensions of `level_base` are not all positi

[2018-07-31 17:35] gauravgrover95 opened #21 "Random user inputs against config option of layout name is not handled"
#### Description
User is supposed to provide the layout name to the library manually like:

`graph.set(nodes, edges, "force"); .`

Leaving responsibility to the user to provide the correct layout name against in the configuration file could be a bad practice. If the layout name is not correct, library throws an error as below:

![error](https://user-images.githubusercontent.com/13467940/43476436-3

[2018-08-06 15:13] saskaale commented on #21
Hello Gaurav,
I would do the first solution, which would throw an error. Chosing default layout ( alongside with printing out is warning ) is also possible option, but the user should be overall responsible for putting the correct layout name.

Let's do the first option.

[2018-08-09 15:29] gauravgrover95 commented on #19
Assuming not required due to inactivity.

[2018-08-09 15:29] #19 closed

[2018-08-09 15:30] gauravgrover95 commented on #10
7ac1ae35f978aa6e6fb37b367ca6e786e390b335 implements the sdf algorithm. Some refactoring can be done though.

[2018-08-09 15:30] #10 closed

[2018-08-09 15:36] gauravgrover95 commented on #21
Fixed with the implementation of background layout computation's new code corresponding to #9

[2018-08-10 18:34] gauravgrover95 commented on #17
@mpearson12  Can you check again and report with the your OS and Firefox version?

[2018-08-11 10:32] gauravgrover95 opened #23 "Refactor background layout computation code"
Code written in #22 is good enough to make things work. But to make it crisp, easy to understand and more DRY. We can

* use a single worker file (can be named wrapper.worker.js file)
* import every layout computation file in it
* Transfer the switch case statement from layout.js file to wrapper worker file to decide which layout to use

Although this is not the super best technique to do this bec

[2018-08-11 11:00] gauravgrover95 opened #24 "Refactor client-side SDF spritesheet generation for text rendering"
Current implementations of client-side generation of SDF coded character sprite-sheets has some references to old libraries and function that are not required anymore. They were not deleted but simply ignored at run-time. There is a scope for improvement of the code.

**Examples:**
* PBFs and shelf-pack libraries are not requried anymore.
* Code which utilizes unused libraries can be removed e.g.

[2018-08-11 11:08] gauravgrover95 opened #25 "Advanced testing for sdf text rendering"
The current code is already verified against a lot of test cases which includes consideration of

- Scale of graph
- Font-families
- Characters
- Font-sizes
- Font-weight
- Font-style
- Alignment

But considering the number of test cases possible, I believe there is still a scope for bugs. If any potential bug is found or even it is under suspicion, Please feel free to give me a mention or even be

[2018-08-11 11:21] gauravgrover95 opened #26 "Unresolved bug in client-side SDF character spritesheet generation"
Unless the font-size supplied to the algorithm is a multiple of 4, the rendering algorithm is showing weird elongation of labels with multiple horizontal straight line artifacts as shown in the image below.

![screen shot 2018-08-11 at 4 44 33 pm](https://user-images.githubusercontent.com/13467940/43991249-548d2ea0-9d86-11e8-9bfb-dbb2b426962e.png)

where the expected behavior was as follows:

![sc

[2018-08-11 11:25] gauravgrover95 commented on #21
@saskaale Can you kindly merge the code and close this issue?

[2018-08-11 11:27] gauravgrover95 commented on #9
@saskaale This can also be closed when the code is merged.

[2018-08-11 18:29] gauravgrover95 commented on #7
2ec120f8379fbfee81ead1cdcaee0383cc4bb4d1 solves this problem.

[2018-08-12 13:30] yoooooooooooooooooooooooo opened #27 "live examples 500"
All examples in the README return 500

[2018-08-13 05:40] gauravgrover95 commented on #27
@saskaale Can you take a look at this?

[2018-12-05 17:59] himanshuc3 commented on #15
Hi, I would love to work on this project and make it better. Also, I would love to make a few visualization layouts. Is it possible?

[2018-12-05 18:45] himanshuc3 opened #28 "Examples mentioned in README not working"

[2018-12-07 18:10] gauravgrover95 commented on #28
Are you getting any error in browser's console? If yes, then can you please share it?

[2018-12-07 18:23] gauravgrover95 commented on #28
This could be a possible duplicate of #27. The example was supposed to be saved as a file in the root directory of the fetched repository and should be called using a simple Http server which can be initiated from the command line using [Python](https://docs.python.org/2/library/simplehttpserver.html) or [PHP](http://php.net/manual/en/features.commandline.webserver.php) ?

Please let me know if yo

[2018-12-09 09:53] gauravgrover95 commented on #28
Yes. The live server is under maintainance.

Meanwhile, you can access the _Advanced Examples_ from the [repository](https://github.com/HelikarLab/ccNetViz/tree/master/examples) by running a [SimpleHttpServer](https://www.pythonforbeginners.com/modules-in-python/how-to-use-simplehttpserver/) and accessing examples folder in browser. Example:

In the root directory of the fetched repository run:
`p

[2018-12-09 09:54] gauravgrover95 commented on #27
Duplicate of #28

[2018-12-11 09:37] himanshuc3 commented on #28
I am going to close this issue as it is a duplicate.

[2018-12-11 09:38] #28 closed

[2018-12-11 09:43] himanshuc3 opened #29 "Adding prettier"
I think to generalize the code standard and white spacing we could add prettier. I could do that if needed. Open to suggestions!

[2018-12-13 04:54] himanshuc3 opened #30 "Adding JSDocs"

[2018-12-14 06:43] gauravgrover95 commented on #29
I think we can definitely use this but it would be better if we focus on this in the later stages of the project.

Currently, the opened Github issues and the [suggested task lists](http://helikarlab.org/GSoC2018.html) are of relatively more importance for improving the library.

[2018-12-14 06:56] gauravgrover95 commented on #30
For this task, a thorough documentation of the code will in the specified format required by the JSDoc. As a beginner in contributing to the library, it will be a good learning experience for you to get introduced to the code structure and the code itself.

I suggest you can go ahead with beginning your contributions in this way.

[2018-12-14 08:53] gauravgrover95 commented on #30
For this task, a thorough documentation of the code in the specified format will be required by the JSDoc. As a beginner in contributing to the library, it will be a good learning experience for you to get introduced to the code structure and the code itself.

I suggest you can go ahead with beginning your contributions in this way in the meantime you can also find some better tasks to contribute

[2019-03-09 20:14] saskaale opened #32 "Add >>npm start<< command for better user-friendliness"
This command would internally

 1) run the simple web server ( for example https://www.npmjs.com/package/http-server ) and
 2) Open browser window with examples directory ( parameter -o in the http-server package )

additional work required:
  - add simple index page into the examples directory whichs allows users to redirect to each example
  - document these steps needed for showing in the Readm

[2019-03-14 17:39] promehul commented on #32
@saskaale  Since no work has been done so far, can I work on this issue? I really think I can do it

[2019-03-16 09:04] AyoubEd commented on #32
I implemented it actually, but I'm having an issue with http-server. Even after using -o to point to the target directory, it still shows the root dir.

[2019-03-16 19:17] saskaale commented on #32
Hello @AyoubEd . This looks like the OS issue. I would suggest you to try some different library than http-server (you can use the https://www.npmjs.com/package/local-web-server, or different one).

If you would not succeed even then I would suggest to simply move the html navigation page from examples directory into the root one.

Thanks for your work !

[2019-04-04 15:00] hjhimanshu01 commented on #32
@saskaale , if nobody is working on this issue , I did setup my local dev server using http-server , would like to submit a PR to start a server easily using "npm run start" . May I?

[2019-04-07 00:16] saskaale commented on #32
Hello @hjhimanshu01 thank you for your PR ! I left you some comments there.

[2019-04-08 18:35] hjhimanshu01 opened #36 "Live Examples on Readme page show 500 Internal error"
The links are broken maybe?

[2019-04-09 05:41] gauravgrover95 commented on #36
Duplicate Issue #28

[2019-04-09 09:39] hjhimanshu01 commented on #36
closing it !

[2019-04-09 09:39] #36 closed

[2019-04-10 10:50] hjhimanshu01 commented on #32
@saskaale , fixed!

[2019-04-19 08:12] gauravgrover95 opened #37 "Using closure-webpack-plugin loader to execute google-closure-compiler"
Webpack v4 is now supported by the [closure-webpack-plugin](https://github.com/webpack-contrib/closure-webpack-plugin).

We can remove the custom node script in [build.js](https://github.com/HelikarLab/ccNetViz/blob/master/build.js) to substitute it with usage of this plugin. This will help clean up the code and make build process possibly more efficient.

[2019-04-21 05:10] hjhimanshu01 commented on #37
@gauravgrover95 @saskaale , while working on #27 and this issue for building minimized build, encountered a few errors related to maybe some redundant code or undefined variables , [this file](https://github.com/HelikarLab/ccNetViz/blob/bd12fab8cea9fb57e727717c76064ef26caf61d3/src/ccNetViz.js#L376) has a redundant function call onWheelThis(e) , also sharing a screenshot of relevant files causing e

[2019-04-26 08:49] gauravgrover95 commented on #37
Well, I guess the library is working fine without fixing these errors. So, if your motive is only to compile the library for #27 and/or to check the workflow Google Closure Script to fix this particular issue, you can simply temporarily disable the use of these variables.

In the long-term, we will require a detailed analysis like why these variables are in code in the first place and take a decis

[2019-04-27 18:43] hjhimanshu01 commented on #37
@gauravgrover95 , so shall I build a minified version by commenting/removing out those unused variables? As that would basically be used in production code of gh-pages branch? The idea os to build a minified version with 'advanced examples' to be hosted via gh-pages branch.

[2019-04-30 08:03] gauravgrover95 commented on #37
That will require proper investigation of the usage of the undeclared variables including other parts of the code.

You can start by simply disabling the use of those variables and correspondingly understanding the functionalities where they were utilized. You can fix the errors for essential variables by manually declaring them but keeping in consideration that they were not intentionally hoisted

[2019-05-02 14:24] hjhimanshu01 commented on #37
@gauravgrover95 , sure , just a little bit occupied here , university exams, will share the steps soon.

[2019-05-10 16:43] saskaale opened #38 "Implement color animation"
Implement color animation and speed control.

Doing benchmark for performance with animation and without animation.

Implement BVH-Tree if needed.

[2019-05-12 17:13] hjhimanshu01 commented on #17
@gauravgrover95 , I'm facing the same issue

[2019-06-06 17:49] shadxx7 opened #51 "Errors while importing to ReactJS"
Getting the following errors while importing ccNetViz (latest version from the github repo) in ReactJS (Using eslint, create-react-app configuration):

![ccNetViz-errors](https://user-images.githubusercontent.com/22408263/59054384-a245ac80-88a4-11e9-9101-eb4eb254ba9d.jpg)

[2019-06-10 13:43] shadxx7 opened #53 "Automatic versioning, releases and changelog"
This project currently lacks proper versioning, change logs and releases. This can be easily achieved using [standard-version](https://github.com/conventional-changelog/standard-version) which uses [Semantic Versioning](semver.org) and [Conventional Commits](https://www.conventionalcommits.org/). The only requirement being that all commits are made with the conventional commits format. I can help

[2019-06-11 06:00] saskaale commented on #53
Hello Mohamed,
we have been thinking about this for a while but didn't get into it yet.
You are of course more than welcome to send PR.

thanks,
Ales Saska

po 10. 6. 2019 v 8:43 odesílatel Mohamed Shadab <notifications@github.com>
napsal:

--
bests regards / s pozdravem
Aleš Saska

[2019-06-11 06:39] shadxx7 commented on #53
Great! Working on it now 😄

[2019-06-12 18:50] saskaale commented on #27
Fixed by deploying the new demo page and modifying links towards it

[2019-06-12 18:50] #27 closed

[2019-06-13 15:32] achillesrasquinha commented on #53
@shadxx7 - have you taken a look at semantic-release?

[2019-06-13 15:47] aman-dave opened #55 "Graphs not rendering properly"
The graphs on the ccNetViz website, along with cell collective are not being rendered properly on the browser. The issue is with hardware acceleration when rendering such graphs. Sometimes the operating systems have low compatibility with certain hardware.

Current Operating System: Linux Mint 19 Tara
GPU: Nvidia GTX 1050

![Screenshot from 2019-06-13 10-18-59](https://user-images.githubuserconten

[2019-06-13 15:49] wizArD-1910 commented on #55
To solve the issue:

Go to the Chrome Setting -> Advanced Setting -> Turn off the Hardware Acceleration

[2019-06-13 15:59] saskaale commented on #55
Hey @wizArD-1910, what is your Chrome version ?

[2019-06-13 16:00] #53 closed

[2019-06-13 17:28] wizArD-1910 commented on #55
Version 75.0.3770.80 (Official Build) (64-bit)

[2019-06-13 19:23] achillesrasquinha opened #56 "Create Bidirectional Edges"
Note - This should also enable intermediate nodes.

[2019-06-14 05:29] saskaale commented on #56
intermediate nodes are anti-pattern

[2019-06-14 05:29] #56 closed

[2019-06-14 15:05] shadxx7 commented on #12
I think this has been fixed. If not, I could help with the issue if you could explain in more detail @saskaale

[2019-06-14 23:39] #12 closed

[2019-06-15 09:10] shadxx7 commented on #29
#57 adds prettier. Can be closed now.

[2019-06-15 15:13] #29 closed

[2019-06-15 15:13] #32 closed

[2019-06-15 15:14] #24 closed

[2019-06-15 15:14] #26 closed

[2019-06-25 01:18] brickmaker opened #63 "prevent apply prettier for file in lib"
Under current configuration, the files in lib, ccNetViz.js and ccNetViz.js.map will be auto formatted. But it should keep in built condition.

[2019-06-25 15:15] shadxx7 commented on #51
Fix for the issue:
to add the latest version of ccNetViz to a react application:
[code]
Copy the path and go to your react project folder and run the following:

[code]
now you can import ccNetViz like you did when using the one on npm.

[2019-06-25 16:42] #63 closed

[2019-06-27 13:38] hjhimanshu01 opened #67 "Interactivity hover example"
For the current "styles" configuration of [interactivity_hover.html](https://github.com/HelikarLab/ccNetViz/blob/master/examples/interactivity_hover.html) , i.e.
[code]
On hovering over the node once , label disappears , hovering second and subsequent times , label reappers though it's a minor issue here but on changing font module to sdf type ,
[code]
it doesn't work.
![Screenshot (37)](https://u

[2019-06-27 13:41] hjhimanshu01 commented on #67
To solve this:
   need to futher look on removal and addition of node in interactivityBatch.js

[2019-07-02 20:55] shadxx7 commented on #37
Perhaps this can be closed as the google-closure-compiler is no longer used in the repository.

[2019-07-12 21:15] canerakdas commented on #67
@saskaale , @hjhimanshu01
It will be fixed with #83 , but we need to update in the future those interactivityBash methods; `_doRemoveNodes`  => `removeNodeAtPos`

[2019-07-13 04:48] hjhimanshu01 commented on #67
@canerakdas  *-* , that's awesome!

[2019-08-28 13:49] hjhimanshu01 opened #121 "Tool to update npm packages"
Since we now have automated testing, it's time to keep the npm packages updated with maybe [greenkeeper](https://greenkeeper.io) or [dependabot](https://dependabot.com/) . @saskaale views?

[2019-08-28 14:03] hjhimanshu01 opened #122 "disable nodes on command or view clearly"
![download](https://user-images.githubusercontent.com/22212482/63862222-1900bc00-c961-11e9-9289-f7dd3f027820.png)
In the above example, most of the labels are not clearer or merge into one another, apart from zooming , magnifying the node label on hover to see it clearly that could be disabled or enabled using the ccNetViz API would be a good feature I guess.

[2019-08-29 01:45] saskaale opened #123 "create CI deploy"
Create automated script which would make sure that the builded library would be always up the date.

[2019-08-29 01:45] #38 closed

[2019-08-29 01:46] #15 closed

[2019-08-29 01:49] #25 closed

[2019-08-29 01:50] saskaale commented on #51
https://github.com/saskaale/react-ccNetViz

[2019-08-29 11:20] hjhimanshu01 commented on #123
do you mean keeping [this](https://github.com/HelikarLab/ccNetViz/blob/master/lib/ccNetViz.js) file up-to-date?

[2019-08-29 13:48] saskaale commented on #123
Yes, exactly like that !

[2019-09-04 02:20] #13 closed

[2019-09-04 02:20] #7 closed

[2019-09-04 02:20] #8 closed

[2019-09-04 02:21] #21 closed

[2019-09-04 02:21] saskaale commented on #20
closing due to inactivity

[2019-09-04 02:21] #20 closed

[2019-09-04 02:24] #51 closed

[2019-09-04 02:25] saskaale commented on #55
Hello @wizArD-1910 , can you please check whether this happens in the latest version of ccNetViz ?

Ales

[2019-09-04 02:37] saskaale opened #124 "Texture edge animation"
Create a plugin which allow the user to do animate the image on top of the edge.

THE GENERAL IDEA:
   - render the moving image on top of the existing edge
   - implement in similar was as a edge plugin:
        -https://github.com/HelikarLab/ccNetViz/tree/master/plugins/animation-line

CODING CHALLENGES
  - improve the current layer plugin system (Shader) so it would support the insertion of the

[2019-09-04 02:41] saskaale opened #125 "Better support for multi level graphs"
Openning this ticket as a feature request for the refractor of the multilevel graph nodes.

DESIRED BEHAVIOR
 - The changing of the levels would be based on the zoom level instead of the click on the node.

POSSIBLE IMPLEMENTATIONS
  1) SHOWING/HIDING nodes according to their levels (PREFERED)
        - the nodes would have the integer variable associated to their "level"
           - show only no

[2019-09-04 02:55] saskaale opened #126 "Example showing colored nodes"
Create example in the example directory and in the github pages

this example would show the feature of the ability to set custom color and image for the node

user would be able to choose from
  - one color picker for the color of the nodes
  - list of predefined images for the node

This feature is already implemented in the library ( https://github.com/HelikarLab/ccNetViz/blob/master/examples/l

[2019-09-04 09:56] canerakdas commented on #125
Hey Ales,

I have an idea about the multi-level graph plugin ( #127 ).

The multi-level feature doesn't add any feature into the ccNetViz, it's using only ccNetViz features.
IMHO multi-level plugin provides a better structure into the library.

**Those features need to be developed;**
Zoom in works perfectly. But we need to find a better method to move to the outside graph. When you're moving to a

[2019-09-04 16:14] saskaale commented on #125
@canerakdas
I just commented it out.

[2019-09-12 07:41] wxxwjef opened #128 "I want to know how to deal with label confusion when there are many nodes."
![微信图片_20190912153906](https://user-images.githubusercontent.com/37828799/64763912-8e7ca700-d573-11e9-8dae-7c106504e0a9.png)
And Many nodes display a different label than the actual label.

[2019-09-13 14:56] wxxwjef commented on #128
<!DOCTYPE html>
<html>
<head>
    <title>Bidirectional graphs example</title>
    <link rel="stylesheet" type="text/css" href="css/template.css"/>
    <script src="../lib/ccNetViz.js"></script>
</head>

<body>
<div class="canvas-container">
    <h3 class="title">Bidirectional graphs example</h3>
    <canvas id="canvas"></canvas>
    <div class="description">
        To enter to deeper node, click

[2019-09-13 15:48] wxxwjef commented on #128
Hello @saskaale
First, thank you for your reply.I'm surprised by your reply.

The following actions can reproduce the bug.
Insert this code into line 38 of examples/bidirectional.html from official project.
My purpose is to create 2,000 nodes，when there are many nodes on the canvas, label will be confused.

// code start
for (let i = 0; i < 2000; i++) {
        var arr = ['A','B','C','D','E','F','

[2019-09-16 06:49] canerakdas commented on #128
Hello @wxxwjef ,

Thank you for the sharing steps to reproduce.

Hey @saskaale ,
I have tested and IMHO this bug reason is static sdf canvas size (1024x1024) for the labels. We need to update dynamically.

You can see the problem with the following image;
![map](https://user-images.githubusercontent.com/14062599/64938571-09410d00-d867-11e9-9f81-4bfbfe8d6f80.png)

[2019-09-16 07:34] wxxwjef commented on #128
@canerakdas
Thank you for your participation.This issue has been bothering me too long.

[2019-09-16 15:50] saskaale commented on #128
@wxxwjef thank you for the code example! Yes, this is definitely a issue in our codebase.

@canerakdas weird. Yeah, the texture seems not to be caching the Glyphs per characted and instead of it is rendering it again and again.

The caching code:
https://github.com/HelikarLab/ccNetViz/blob/master/src/texts/sdf/sdf.js#L263-L266

[2019-09-16 22:39] saskaale commented on #128
@canerakdas Hello Caner, I just looked at it and it seems to be bigger issue overally.
The issue is that the ccNetViz is currently using the text default generator which has the static texture size (https://github.com/HelikarLab/ccNetViz/blob/master/src/texts/default.js) - fixing of this size to be dynamiccaly resized seems like a solution.

However we tried to consider the default text generator

[2019-09-21 14:33] hjhimanshu01 commented on #128
Hey @wxxwjef , @saskaale , I'm not sure how to fix default font size , but as default is basically deprecated and @wxxwjef , just change this part in the code
[code]
basically the size of label is dynamic and on 2000 nodes, size becomes minimal, so changing the font type and size does the work.

[2019-09-23 01:58] wxxwjef commented on #128
@hjhimanshu01
Thank you for your proposal.
I found the performance of this kind of configure is very poor.How to improve performance.

[2019-09-24 06:04] saskaale commented on #128
@saskaale do you mean poor in terms of the performance (rendering speed) ?

[2019-09-25 01:41] wxxwjef commented on #128
@saskaale
Yes,I tested it locally with type of 'sdf',found the process of Initialization is very slow when graph hava a lot nodes.

[2019-11-12 03:14] hjhimanshu01 commented on #121
Closing this! done

[2019-11-12 03:15] #121 closed

[2020-01-13 17:34] coderbabu10 opened #133 "Display of nodes in the webpage"
**Nodes written is hidden**
![Screenshot from 2020-01-13 22-59-13](https://user-images.githubusercontent.com/54955755/72277708-6a7fbe00-3658-11ea-9320-8907876530f8.png)
**code :**
![Screenshot from 2020-01-13 22-58-33](https://user-images.githubusercontent.com/54955755/72277760-897e5000-3658-11ea-8911-4f63cb96b946.png)
**Expected Behavior**
It should be not hidden and displayed either on the top o

[2020-01-13 20:17] coderbabu10 commented on #133
i want to work on this issue,can you please assign it to me.

[2020-01-14 19:34] hjhimanshu01 commented on #126
@saskaale , imho, we have node colouring example in styles.html and images in custom.html (using blobs probably) , are you talking about another way of implementing it?

[2020-01-18 00:18] canerakdas commented on #133
Hello @coderbabu10

We have a different repository for this graph, you can work on there and send pull request;
[https://github.com/HelikarLab/ccNetViz-logo](url)

Thanks,
Caner

[2020-01-20 17:11] coderbabu10 commented on #133
Hello @canerakdas
Can i add an option for dark theme for ccNetViz,i think it will be good for the display of the advnced examples.
Thanks,
Aman

[2020-01-20 17:21] coderbabu10 commented on #133
Hello Sir,
Can i add a dark theme option in ccNetViz page as it will look good and the
advanced examples will be displayed nicely.
Thanks,
Aman Kumar

On Sat, Jan 18, 2020 at 5:48 AM canerakdas <notifications@github.com> wrote:

[2020-01-22 15:53] coderbabu10 opened #135 "Dark Mode"
We can add a dark mode option as in it the images would be displayed nicely.

[2020-01-25 17:28] coderbabu10 commented on #135
@saskaale

[2020-02-03 17:58] saskaale commented on #135
@coderbabu10  - All of this might be matter only of the setting up of the coloring and changing the node image.

This can be good example page to our github pages (gh-pages branch). Do you want to work on this issue ?

[2020-02-04 06:12] Ishakikani9117 opened #137 "Downloaded image is not visible clearly"
When you download a .png file of the graph, downloaded image gets blurred.It would  be a great idea if we can download a  .jpg file of it with better quality and resolution.
![2020-02-04](https://user-images.githubusercontent.com/54074188/73718726-586ada00-4743-11ea-86a3-ee2db213758f.png)

[2020-02-04 14:05] coderbabu10 commented on #135
yes @saskaale  i will be working on this.

[2020-02-04 14:55] Ishakikani9117 commented on #137
I would like to work on this issue.Can you assign me this issue?

[2020-02-04 18:23] achillesrasquinha opened #138 "Unable to use multi-level graphs with latest build."
Having trouble using multi-level graphs for latest build.

[2020-02-04 18:29] achillesrasquinha commented on #138
This however seems to work with a build within `gh-pages` branch.

[2020-02-05 00:52] achillesrasquinha opened #139 "Multi-Level Graph with a depth of more than 2"

[2020-02-05 00:52] #139 closed

[2020-02-06 05:07] Ishakikani9117 commented on #137
@saskaale

[2020-02-07 06:20] Ishakikani9117 commented on #124
Hello!! @saskaale
I would like to work on this issue. Can you assign me?

[2020-02-09 22:27] canerakdas commented on #138
Hello, @achillesrasquinha can you please share your console log?

Also, can you try `/examples/multi_level.html`?
With #125, we have created a plugin and removed the old one.

[2020-02-13 21:04] achillesrasquinha opened #140 "[DOCS] Update info regarding usage of bidirectional edges."

[2020-02-14 17:31] achillesrasquinha opened #141 "`graph.reflow` is not a function"
While attempting to try this example - http://helikarlab.github.io/ccNetViz/examples/interactivity_hover.html I get `graph.reflow` is not a function.

[2020-02-14 17:31] saskaale commented on #141
please provide full stacktrace

[2020-02-14 17:55] achillesrasquinha commented on #141
Looks like this doesn't work in case of multilevel graphs?

[2020-02-20 17:31] achillesrasquinha opened #142 "Force-Directed Layouts aren't aesthetically pleasing in cases of edge-to-edges."
Assuming an edge-to-edge is nothing but an edge-to-an-intermediate node, Could force-directed-layout then ensure that the edges are spaced proportionally with this assumption in mind? I believe, currently it doesnt.

[2020-02-20 22:16] saskaale commented on #141
I was not able to simulate. Can you please provide working example alongside with the full stacktrace?

[2020-02-20 22:50] saskaale commented on #137
there might be way howto be able to render the scene with the upscaled resolution:

https://stackoverflow.com/questions/47699592/lower-webgl-render-resolution-and-increase-fps

[2020-02-28 20:04] achillesrasquinha commented on #141
Closing. This works within latest master banch.

[2020-02-28 20:04] #141 closed

[2020-02-28 20:05] achillesrasquinha commented on #142
I guess this shouldn't be implemented anyway!

[2020-02-28 20:05] #142 closed

[2020-03-11 15:54] jewool opened #143 "Force-Directed Tree layout"
i had a 2000 nodes and 4000 edges  relation chart with force layout; and the edge cover each other.
will ccNetViz offer layout like this [https://observablehq.com/@d3/force-directed-tree?collection=@d3/d3-force](url) .
or can you tell me how to get this by force layout.
             -from ccNetViz fans  its amazing!

[2020-05-05 01:02] coderbabu10 commented on #135
can i still work for this ? @saskaale

[2020-05-05 05:44] Amankumar29 opened #146 "Making the navbar at the top and having a bottom to top button."
We can have the navbar at the top for better UX and also make it stick at the top or we can add a bottom to top button instead of it.
this will make the site more attractive and user friendly.
please give some reviews for this @saskaale .

[2020-05-08 21:48] HelikarLabPersonal opened #147 "High Resolution Graph Image Export"
CCNetViz currently supports the download of graphs as a png file only, with limited resolution. We are looking to develop support to enable the download of high-resolution images of graphs in various file formats, including .png, .jpg., and potential secondary implementation of the rendering engine in SVG.

A potential solution would be to develop additional renderers (SVG and/or Canvas) that woul

[2020-06-22 23:54] canerakdas commented on #147
#150

[2020-06-29 16:39] #147 closed

[2020-06-29 16:42] saskaale commented on #146
Can you please specify more? Do you mean in the multilevel functionality ?

The primary goal of this library is the graph visualization so it is not clear what do you mean by the issue.

[2020-06-29 16:46] saskaale commented on #135
@Amankumar29 sure !

Please proceed with creating the example called dark mode.

[2020-06-29 16:49] #17 closed

[2020-06-29 16:51] saskaale commented on #133
@Amankumar29  - sure. Please work on this issue

[2020-06-29 16:53] saskaale commented on #55
probably webgl error

[2020-06-29 16:53] #55 closed

[2020-06-29 18:19] saskaale commented on #124
Hey - @Ishakikani9117. Are you still interested in working at the issue ?

Ales

[2020-06-29 18:56] saskaale commented on #140
@achillesrasquinha in progress

[2020-06-30 03:37] Amankumar29 commented on #133
i have completed this issue, you can check here: https://github.com/HelikarLab/ccNetViz-logo/pull/1

[2020-06-30 15:46] aman-dave commented on #146
Hi @Amankumar29, from what I can make out, you mean to change the navbar of: http://helikarlab.github.io/ccNetViz/ Correct me if I am wrong.

If that is the case, that it can be up for discussion.
But as Ales pointed out, we are using this library for graph visualizations, so it won't improve the main ccNetViz library.

[2020-06-30 15:52] aman-dave commented on #135
Hi @Amankumar29, could you briefly mention more about the work you are planning to do on this issue?

[2020-07-01 02:55] HelikarLabPersonal commented on #143
Hi Jewool, we're definitely planning to further optimize the layouts in ccNetViz, but we are unsure when it can happen. The link you posted doesn't seem to work, but I'd love to check out an example of what exactly you have in mind, if you could post a working URL.
Thank you!

[2020-07-01 02:59] HelikarLabPersonal opened #151 "Support for Systems Biology Graphical Notation (SBGN)"
Because of the complexity of biological processes, and the vast ways of representing them graphically, the Systems Biology Graphical Notation (SBGN) was developed in a community effort to standardize how biological processes are visualized. The purpose of this project is to extend CCNetViz functionality by directly supporting the visualization of SBGN models and in particular SBGN Process Descript

[2020-07-01 03:01] #151 closed

[2020-07-02 17:56] rajarshi opened #153 "Scale for user defined coordinates?"
Hi, I am generating a JSON layout file with user specified coordinates for the nodes. Currently the coordinates are positive and unbounded. However, the graph does not render (when I add it to `complex.html`). If I rescale the coordinates to [0,1] it does render. I just wanted to confirm whether that is the required range for x,y coordinates.

[2020-07-19 17:39] aman-dave commented on #126
#158 Made required changed for images of nodes.

[2020-10-08 12:48] canerakdas commented on #123
I added this feature #163

[2020-10-08 12:54] canerakdas commented on #140
I tried to explain how its edge, bidirectional edges on ccNetViz. If it's ok, I will update gh pages @saskaale @achillesrasquinha

#163  [Source](https://github.com/HelikarLab/ccNetViz/pull/163/commits/d3773c5b5edf0c88562e5404395fb1df947a30cd)